html,
body {
  padding: 0;
  margin: 0;
  font-family: 'montserratregular', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main_footer {
  padding: 2%;
  background: black;
}
.header_container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 1% 2%;
  background: #ffffff;
  position: fixed;
  z-index: 9;
  width: 100%;
}
.header_btn {
  float: right;
}
@media only screen and (max-width: 767px) {
  .header {
    box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
}
  .header_container {
    display: flex;
  }
  .header_btn a {
    padding: 2%;
  }
  .header_btn {
    height: 100%;
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;
}
}