.introduce, .employ {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    font-family: 'montserratregular', sans-serif;
}
.intro_left, .employ_left {
    width: 40%;
    padding-bottom: 10%;
}
.intro_right {
    width: 60%;
    background: url(../Images/intro/background.png) no-repeat left bottom / cover;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    border-color: inherit;
    margin-right: calc(620px - 50vw);
}
.employ_right {
    width: 60%;
    background: url(../Images/intro/employ_background.png) no-repeat left bottom / cover;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    border-color: inherit;
    margin-right: calc(620px - 50vw);
}
.spacer {
    height: 225px;
}
.spacer_employ {
    height: 150px;
}
.custom_heading_intro, .custom_heading_employ {
    font-family: 'montserratregular', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #1d1d1d;
    font-weight: 600;
}
.custom_title_intro, .custom_title_employ {
    font-family: 'merriweatherbold';
    font-weight: 500;
    font-size: 35px;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 5rem;
}
.custom_title_employ {
    margin-bottom: auto;
}
a.intro_more_info, .header_more_info {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    border-radius: 0.3em;
    padding: 1.2em 2em;
    background: #f15a22;
    color: #ffffff;
}
.header_more_info {
    float: right;
}
.employ_left h4 {
    color: #1d1d1d;
    font-size: 26px;
    font-family: 'montserratregular', sans-serif;
    line-height: 1.4;
    font-weight: 400;
}
@media only screen and (max-width: 767px){
    .spacer, .spacer_employ {
        height: 50px;
    }
    .intro_left, .employ_left {
        width: 100%;
    }
    .custom_heading_intro, .custom_heading_employ {
        font-size: 16px;
    }
    .custom_title_intro, .custom_title_employ {
        font-size: 28px;
        margin-bottom: 3rem;
    }
}